{% extends "main/toolbar.html" %} {% block content %} {% load static %}
<h1>FEED</h1>
<p>(That match the search conditions).</p>

<body>
  {% for event in events %}
  <article class="media content-section">
    <div class="media-body">
       <!-- Event Title -->
      <a class="green-link" href="{% url 'view_event' pk=event.pk %}">
        <h2>{{ event.title }}</h2>
    </a>
      <!-- Event Owner -->
      <div class="article-metadata">
        <img
          class="rounded-circle"
          src="{{ event.creator.user.image.url }}"
          width="40"
          height="40"
        />
        <a class="mr-2" href="{% url 'page_viewing' pk=event.creator.pk %}"> @{{ event.creator }} </a>
        <!-- Event Location -->
        <img
          src="{% static 'images/location_icon_green.png' %}"
          width="25"
          height="25"
        />
        <small class="text-muted mr-2">
          <strong>{{ event.location }} </strong></small
        >
        <!-- Event Time -->
        <img
          src="{% static 'images/calendar_icon_green.png' %}"
          width="25"
          height="25"
        />
        <i>
          <small class="text-muted"> {{ event.start | date:"F d, Y"}} </small>
          {% if event.end_recurring_period.date != event.start.date %}
          <small class="text-muted">
            -- {{ event.end_recurring_period | date:"F d, Y"}}</small
          >
          {% else %}
          <small class="text-muted">
            ({{ event.start.time }} - {{ event.end.time }})</small
          >
          {% endif %}
        </i>
      </div>
      <p class="article-content">{{ event.description }}</p>
    </article>
  {% endfor %}
</body>
{% endblock content %}
