{% extends "main/toolbar.html" %}
<!-- prettier ignore -->
{% block content %}
<!-- prettier ignore -->
{% load crispy_forms_tags %}
<!-- prettier ignore -->
{% load static %}

<article class="media content-section">
  <div class="media-body">
    <!-- Event Title -->
    <h2 class="article-title">{{ event.title }}</h2>
    <!-- Event Owner -->
    <div class="article-metadata">
      <img
        class="rounded-circle"
        src="{{ event.creator.user.image.url }}"
        width="40"
        height="40"
      />
      <a class="mr-2" href="{% url 'page_viewing' pk=event.creator.pk %}">
        @{{ event.creator }}
      </a>
      <!-- Event Location -->
      <img
        src="{% static 'images/location_icon_green.png' %}"
        width="25"
        height="25"
      />
      <small class="text-muted mr-2">
        <strong>{{ event.location }} </strong></small
      >
      <!-- Event Time -->
      <img
        src="{% static 'images/calendar_icon_green.png' %}"
        width="25"
        height="25"
      />
      <i>
        <small class="text-muted"> {{ event.start | date:"F d, Y"}} </small>
        {% if event.end_recurring_period.date != event.start.date %}
        <small class="text-muted">
          -- {{ event.end_recurring_period | date:"F d, Y"}}</small
        >
        {% else %}
        <small class="text-muted">
          ({{ event.start.time }} - {{ event.end.time }})</small
        >
        {% endif %}
      </i>
    </div>
    <p class="article-content">{{ event.description }}</p>

    <!-- Registration -->
    <div id="registration-section">
      <!-- Signup button -->
      <button
        class="btn btn-primary"
        hx-get="{% url 'attendee_formset' pk=event.pk %}"
        hx-target="#registration-section"
        hx-swap="outerHTML"
      >
        SIGN UP
      </button>
    </div>
  </div>
</article>

{% endblock content %}
