{% extends "main/toolbar.html" %}
{% block content %}
{% load static %}
{% load custom_filters %}
<div class="border-bottom mb-2 mt-4">
    <strong><h1>Find a Coach!</h1></strong>
</div>
<blockquote class="text-muted">
    <p>
    Every Coach in The Lab is required to verify <strong><i>college-minimum</i></strong> coaching or playing experience in their sport. 
    This way, we hope to provide peace of mind about the quality of coaching offered on the platform.
    </p>
</blockquote>
<body>
    <h3 class="border-bottom">Lab Coaches:</h3>
    {% for coach, sport, price in coach_data %}
    <article class ='content-section'>
        <a class="book-now-label btn-primary" href={% url 'page_viewing' pk=coach.pk%}><center>BOOK NOW !!</center>
            <p>
                <small>Starting at <strong>${{ price }}</strong></small>
            </p>
        </a>
        <img class="rounded-circle" src='{{ coach.image.url }}' width="65" height="80"> <!-- Rounded circle is from the Profile Editing interface-->
        <div class="coach-info">
            <div class='coach-name ml-2'>
                {% if coach.first_name %}
                    <a class="green-link" href="{% url 'page_viewing' pk=coach.pk %}"> {{ coach.first_name }} {{ coach.last_name }}</a>
                {% else %}
                    <a class="green-link" href="{% url 'page_viewing' pk=coach.pk %}"> {{ coach }}</a>
                {% endif %}
                <div class="sport-cred">
                    {{ sport }}
                </div>
            </div>
            <div class='ml-2'>
                <i>*Insert bio*</i>
            </div>
        </div>
    </article>
    {% endfor %}
</body>
<P>
<!-- adding some white space on the bottom -->
</P>
{% endblock content %}


<!-- Carry-over from event browsing-->
<article class ='media content-section'>
    <div class = 'media-body'>
        <h2><a class="article-title" href="{% url 'view_event' pk=event.pk %}"> {{ event.title }}</a></h2>
        <div class ='article-metadata'>
            <img class= "rounded-circle" src ='{{ event.creator.user.image.url }}' width="40" height="40">
            <a class = "mr-2" href = "{% url 'page_viewing' pk=event.creator.user.pk %}"> @{{ event.creator }} </a>
            <small class = "text-muted" > ({{ event.location }}) </small>
            <small class = "text-muted" > {{ event.start | date:"F d, Y"}} -- </small>
            <small class = "text-muted" > {{ event.end_recurring_period | date:"F d, Y"}} </small>
        </div>
        <p class="article-content"> {{ event.description }}</p>
    </div>
    </div>
</article>'