{% extends "main/toolbar.html" %}
<!-- prettier ginore -->
{% load crispy_forms_tags %}
<!-- prettier ignore -->
{% block content %}
<form method="GET" action="{% url 'location_search' %}">
  <input type="text" name="query" placeholder="Search for a location..." />
  <button type="submit">Search</button>
</form>
<h4>Existing Locations:</h4>
<ul>
  {% for location in locations %}
  <li>
    <div class="content-section">
      {{ location.location_name }}
      <a
        class="btn-primary"
        href="{% url 'add_location' location_name=location.location_name %}"
        >Select</a
      >
    </div>
  </li>
  {% empty %}
  <li>No locations found.</li>
  {% endfor %}
</ul>
<!-- Add content section directing to New Location form -->
<div class="article-content">
  <p><i>Don't see your spot? We may not have it in our files...</i></p>
  <a class="btn-primary" href="{% url 'location_form' %}">Add it here!</a>
</div>
{% endblock %}
