{% extends "main/toolbar.html" %}
<!-- prettier ignore -->
{% load crispy_forms_tags %}
<!-- prettier ignore -->
{% block content %}
<div class="form-container">
  <h2><i>Create a Package!</i></h2>
  <form method="POST">
    {% csrf_token %}
    <fieldset class="form-group">
      <legend class="border-bottom mb-4">Package Details</legend>
      {{ package|crispy }}
    </fieldset>
    <div class="form-group">
      <button class="btn btn-outline-info" type="submit">Create Package</button>
    </div>
  </form>
</div>
{% endblock %}
