{% extends "main/toolbar.html" %}
{% block content %}
{% load static %}
<!-- Checking if the viewing user is the owner of the page-->
{% if is_owner %}
<!-- Coach Hub -->
 <div class="coach-dashboard">
    <div class="main-content">
        <h1>
            Hey Coach, welcome to your Page!
        </h1>
        <p>
            <i>(This is your hub for creating and managing your stuff, and for getting a preview of what your Page looks like to other users who are viewing it.)</i>
        </p>
        <!-- Availability -->


        <!-- Locations -->
        <p>
            Your Locations:
            <ul>
                {% for coach_location in coach_locations %}
                    <li>
                        {{ coach_location.location.location_name }}
                        <a href="{% url 'remove_location' location_name=coach_location.location.location_name %}"><small>(Remove)</small></a>
                    </li>
                {% endfor %}
                {% if coach_locations.count == 0 %}
                    <p>
                        You don't have any associated locations! Add some to your profile so you can host Events!
                    </p>
                {% endif %}
            </ul>
            <ul>
                <li>
                    <a href="{% url 'location_search' %}">Add Location</a>
                </li>
            </ul>
        </p>
    </div>
    <!-- Create -->
    <div class="form-container page-create">
        <center>
            <h4 class="form-header">CREATE</h4>
        </center>
        <ul class="list-group">
            <a class="list-group-item list-link" href="{% url 'package_form' %}">Package</a>
            <a class="list-group-item list-link" href="{% url 'event_form' %}">Event</a>
        </ul>
    </div>
</div>
<!-- Midline -->
<p>
    <i>
        ------------------------------------------------ Page preview --------------------------------------------------
    </i>
</p>
{% endif %}
<!-- Page View -->
<!-- User View -->
<body>
    <div class="content-section">
        <div class="media">
            <img class="rounded-circle account-img" src= "{{ user.image.url }}">
            <div class="media-body">
                {% if is_owner %}
                    <h5 class="account-heading">{{ profile.first_name }} {{ profile.last_name }}</h5>
                {% endif %}
                <h5 class="account-heading">{{ coach.first_name }} {{ coach.last_name }}</h5>
                <p class="text-secondary">@{{ user.username }}</p>
                <p class="text-secondary">Email: {{ user.email }}</p>
            </div>
        </div>
    </div>
</body>
<!-- Events -->
<body>
    <h3>
        Upcoming Hosted Events:
    </h3>
    <body>
        {% for event in coach_events %}
            <article class ='media content-section'>
                <div class = 'media-body'>
                    <h2><a class="article-title" href="{% url 'view_event' pk=event.pk %}"> {{ event.title }}</a></h2>
                    <div class ='article-metadata'>
                        <img class= "rounded-circle" src ='{{ event.creator.user.image.url }}' width="40" height="40"> <!-- Rounded circle is from the Profile Editing interface-->
                        <a class = "mr-2" href = '#'> @{{ event.creator }} </a>
                        <small class = "text-muted" > ({{ event.location }}) </small>
                        <small class = "text-muted" > {{ event.start | date:"F d, Y"}} -- </small>
                        <small class = "text-muted" > {{ event.end_recurring_period | date:"F d, Y"}} </small>
                    </div>
                    <p class="article-content"> {{ event.description }}</p>
                </div>
                </div>
            </article>
        {% endfor %}
    </body>
    <p>
        <i>
            (Listed Events should be replaced by Drills once they become part of the platform -- Events (and availability) will be accessible through a calendar on the page display)
        </i>
    </p>
</body>
{% endblock content %}
