{% load static %}
<div id="event-item-{{ event.id }}" class="event-item {% if not event.is_accepted %}not-accepted{% endif %}">
  <div class="event-details">
    <div class="event-time">{{ event.start|time:"g:iA" }} - {{ event.end|time:"g:iA" }}</div>
      <div class="event-info">
          <div class="event-type">
              <strong class="border-bottom mb-2">{{ event.title }}</strong>
          </div>
          {% for event_attendee in event_attendees %}
          <ul>
              {% if event_attendee.event == event %}
              <img
                  src="{% static 'images/attendee_icon.png' %}"
                  width="20"
                  height="20"
              />  {{ event_attendee.attendee.first_name }} {{ event_attendee.attendee.last_name }}  </li>
              {% endif %}
          </ul>
          {% endfor %}
      </div>
      <div class="location-item mr-4 {% if event.is_accepted %}accepted{% endif %}">
          <img
              src="{% static 'images/location_icon_green.png' %}"
              width="20"
              height="20"
          />
          {{ event.location }}
      </div>
  </div>
  {% if not event.is_accepted %}
      <button 
      hx-get="{% url 'accept_event' pk=coach.pk %}?event_id={{ event.id }}"
      hx-target="#event-item-{{ event.id }}"
      hx-swap="outerHTML"
      class="accept-btn">
      Accept
  </button>
  {% endif %}
</div>
