{% load crispy_forms_tags %}
<!-- prettier-ignore -->
<div class="signup-container">
  <div class="signup-header">
    <!-- Back button using HTMX -->
    <button
      class="btn mb-3"
      hx-get="{% url 'check_availability' pk=package.owner.pk week=week %}?package_id={{ package.id }}"
      hx-target="#time-slots"
      hx-swap="innerHTML transition:true"
    >
      ← Back
    </button>

    <!-- Package and time slot information -->
    <div class="selected-info border-bottom">
      <p class="session-details">
        {{ package.sport }} {{ package.type }} @ {{ package.location }} ({{ date }} {{ start_time.time }} - {{ end_time.time }})
      </p>
    </div>
  </div>

  <!-- Formset header -->
    <div class="form-container">
        <h3>Add Attendee(s)</h3>
    
        <!-- Formset -->
        <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            {{ formset.management_form }}
            <div id="formset-container" class="formset-grid">
            {% for form in formset.forms %}
    
            <!-- Form(s) -->
            <div class="attendee-form card">
                <h5 class="card-title">Attendee {{ forloop.counter }}</h5>
                {{ form|crispy }}
            </div>
    
            {% endfor %}
            </div>
        </fieldset>

        <!-- Continue to Payment Button -->
        <div class="text-center mt-4">
            <button type="submit" class="btn btn-primary">Continue to Payment</button>
        </div>
    </form>
  </div>
</div>
