{% extends "main/toolbar.html" %}
<!-- prettier-ignore -->
{% block content %}
<h1 class="border-bottom"><strong>Alerts</strong></h1>
<i class="mb-4"><small class="mb-5">(click to mark as read)</small></i>

{% for notification in notifications %}
<div
  id="notification-{{ notification.id }}"
  hx-post="{% url 'read_notification' notification.id %}"
  hx-swap="outerHTML"
  hx-trigger="click"
  role="alert"
  aria-live="polite"
  {%
  if
  notification.is_read
  %}hx-disable{%
  endif
  %}
>
  {% include "main/partials/single_alert.html" %}
</div>
{% endfor %}
<!-- prettier-ignore -->
{% endblock %}
