{% extends "main/toolbar.html" %} {% load crispy_forms_tags %}
<!-- prettier ignore -->
{% block content %}
<div>
  <h1 class="border-bottom">Become a Coach!!</h1>
  <blockquote>
    Upgrade your profile to 'coach' status and start earning money for coaching
    services!!
    <p>
      <small
        ><strong
          >(College or professional playing or coaching experience is required
          to become a coach)</strong
        ></small
      >
    </p>
  </blockquote>
  <form class="form-container" method="POST">
    {% csrf_token %}
    <fieldset class="form-group">
      <legend class="border-bottom mb-4">Coach Application</legend>
      {{ application|crispy }}
    </fieldset>
    <div>
      <button class="btn btn-outline-info" type="submit">Submit</button>
    </div>
  </form>
</div>

{% endblock %}
