{% extends "main/toolbar.html" %}
{% block content %}
{% load static %}
<img src="{% static 'main/images/summercamp_overheadideas.png' %}">
<p>
    <small>
        *Coaches of the older division must always be college-minimum players or coaches.
    </small>    
    <small>
        <i>(And thus could have Coach profiles in The Lab)</i>
    </small>
</p>
<p>
    <small>
        *Coaches of the younger division could also potentially be high-school minimum, because that would still be the "Level Up". But, ideally not.
    </small>
</p>
<p>
    <small>
        <i>(Anyone can make an Athlete Profile in The Lab)</i>
    </small>
</p>
{% endblock %}