{% extends "main/toolbar.html" %}
{% block content %}
{% load static %}
<img src="{% static 'main/images/summercamp_mondayoutline.png' %}">
<p>
    <small>
        In a perfect world, for the Director attempting to plan an event, the Event itself in The Lab would be customizable with information like this (in time blocks that fit into the greater Event time block(s)). This event planning service could also include the ability to reference content (Drills in Folder or Workout form).
    </small>
</p>
<p>
    <small>
        That is a lot to put together, though. So, I will start with simply event <i>scheduling,</i> rather than event <i>planning</i>. But, event planning could be very useful for LevelUp Sports.
    </small>
</p>
{% endblock %}