{% extends "main/toolbar.html" %} {% load crispy_forms_tags %}
<!-- prettier ignore -->
{% block content %}
<div class="create-profile-view">
  {% if parent %}
  <div class="form-container">
    <legend><i>About Lab Profiles</i></legend>

    <p><strong>Levels:</strong></p>
    <ul class="mb-1">
      <li class="mb-1">
        <strong>Everyone:</strong> Every user (athlete, parent, or coach) starts
        as a basic user.
      </li>

      <li>
        <strong>Coach:</strong> Users can upgrade their profile to coach by
        submitting an application that verifies college-minimum playing or
        coaching experience. Coaches can accept payment for coaching services
        and schedule them on the same platform, without needing to pay for a
        subscription.
      </li>
    </ul>
    <!-- Additional Notes -->
    <p>
      <i>
        <small class="text-muted border-top">
          ** Event registration does not require a profile. Attendees simply
          must be named. All registrants must be 18 or older. Parents, you can
          create accounts for you and your athletes for quick registration and
          seamless payments.
        </small>
      </i>
    </p>

    <p><strong>Exclusive Coach Tools:</strong></p>
    <ul class="mb-2">
      <li>
        Showcase your expertise with a dedicated coach profile page,
        highlighting your experience and certifications.
      </li>
      <li>
        Monetize coaching service packages (e.g., $50/hr private training) from
        your page.
      </li>
      <li>Create and host coaching events effortlessly.</li>
    </ul>
  </div>
  {% endif %}

  <form class="form-container" method="POST" action="{% url 'createprofile' %}">
    {% csrf_token %}<!-- "Cross Site Request Forgery", added security for forms that Django requires-->
    <!-- Form fields-->
    <fieldset class="form-group">
      <!-- Bootstrap class-->
      <legend class="form-header">Create a Profile!</legend>
      {{ form|crispy }}
    </fieldset>

    <div class="form-group">
      <div class="border-bottom pt-3 row">
        <button class="btn btn-outline-info mb-2 mr-2" type="submit">
          Create Profile
        </button>
        <small class="text-muted float-right">
          Already have a Profile?
          <a href="{% url 'login' %}">Log In!</a>
        </small>
      </div>
    </div>
  </form>
</div>

{% if not parent %}
<div class="form-container">
  <legend><i>About Lab Profiles</i></legend>

  <p><strong>Levels:</strong></p>
  <ul class="mb-1">
    <li class="mb-1">
      <strong>Everyone:</strong> Every user (athlete, parent, or coach) starts
      as a basic user. Parents, create accounts for you and your kids for quick
      registration and seamless payments.
    </li>

    <li>
      <strong>Coach:</strong> Users can upgrade their profile to coach by
      submitting an application that verifies college-minimum playing or
      coaching experience. Coaches can accept payment for coaching services and
      schedule them on the same platform, without needing to pay for a
      subscription.
    </li>
  </ul>
  <!-- Additional Notes -->
  <p>
    <i>
      <small class="text-muted border-top">
        ** Event registration does not require a profile. Attendees simply must
        be named. All registrants must be 18 or older.
      </small>
    </i>
  </p>
  {% endif %} {% endblock %}
</div>
