{% extends "main/toolbar.html" %} {% load crispy_forms_tags %}
<!-- prettier ignore -->
{% block content %}
<form class="form-container" method="POST" action="{% url 'createprofile' %}">
  {% csrf_token %}<!-- "Cross Site Request Forgery", added security for forms that Django requires-->
  <!-- Form fields-->
  <fieldset class="form-group">
    <!-- Bootstrap class-->
    <legend class="form-header">Create a Profile!</legend>
    {{ form|crispy }}
  </fieldset>

  <div class="form-group">
    <div class="border-bottom pt-3 row">
      <button class="btn btn-outline-info mb-2 mr-2" type="submit">
        Create Profile
      </button>
      <small class="text-muted float-right">
        Already have a Profile?
        <a href="{% url 'login' %}">Log In!</a>
      </small>
    </div>
  </div>
</form>

<div class="form-container">
  <legend><i>About Lab Profiles</i></legend>

  <p><strong>Levels:</strong></p>
  <ul class="mb-4">
    <li>
      <strong>Athlete:</strong> Every user (athlete, parent, or coach) starts as
      an "athlete". Athletes can access content (packages, events, drills).
    </li>
    <li>
      <strong>Coach:</strong> Athletes can upgrade their profile to coach by
      submitting an application that verifies college-minimum playing or
      coaching experience. Coaches can create content (packages, events,
      drills).
    </li>
  </ul>

  <p><strong>Core Capabilities:</strong></p>
  <ul class="mb-4">
    <li>
      Search and register for events with ease (for yourself or your kids).
    </li>
    <li>View upcoming events and track registration history.</li>
    <li>
      Save and complete expertly-crafted drills (coming soon)-- by recording and
      submitting your drill performance to a coach, you can receive expert
      feedback (and score confirmation, which is required to participate in
      Drill Leaderboards).
    </li>
  </ul>

  <p><strong>Exclusive Coach Tools:</strong></p>
  <ul class="mb-4">
    <li>Host and monetize events effortlessly.</li>
    <li>Manage business accounts with integrated scheduling.</li>
    <li>Post interactive drills for remote training (coming soon).</li>
  </ul>

  <!-- Additional Notes -->
  <p>
    <i>
      ** Event registration does not require a profile. Attendees must be named
      but can differ from the registering user. All registrants must be 18 or
      older.
    </i>
  </p>
</div>
{% endblock %}
