{% extends "main/toolbar.html" %} {% block content %}
<!-- A user is logged in -->
<title>{{ title }}</title>
<head>
  <h1>Hey {{ profile.first_name }}, welcome to your Home Page!</h1>
</head>
<body>
  <div class="content-section row">
    <img class="rounded-circle account-img" src="{{ user.image.url }}" />
    <div class="media-body">
      <h5 class="account-heading">
        {{ profile.first_name }} {{ profile.last_name }}
      </h5>
      <p class="text-secondary">@{{ user.username }}</p>
      <p class="text-secondary">Email: {{ user.email }}</p>
      <a class="edit-btn" href="{% url 'profile_edit' %}">Edit</a>
    </div>
  </div>
</body>
<p class="ml-20">
  <i
    ><strong>
      If you're an aspiring Lab Coach... edit your profile and submit an
      Application ^^
    </strong></i
  >
</p>
{% endblock content %}
