{% extends "main/toolbar.html" %}
{% block content %}
<!-- This is a modification from having only one home template -->
<!-- (to now having one home and one template)-->
<!-- When it was one template, I needed this code block: -->
<!-- if user.is_authenticated (Boolean)-->
<title>
    {{ title }}
</title>
<center>
    <h2>
        Welcome to The Lab!!
    </h2>
    <p>
        <i>
            Where aspiring athletes can connect with and learn from successful players and coaches to LEVEL UP their game!
        </i>
    </p>
</center>
{% endblock %}