{% extends "main/toolbar.html" %}
<!-- prettier ignore -->
{% block content %}
<title>{{ title }}</title>
<center>
  <h2 class="mt-3 mb-1 border-bottom"><strong>Welcome to The Lab!!</strong></h2>
  <p class="text-muted mb-4">
    <i>
      Where aspiring athletes can connect with successful players & coaches to LEVEL UP their game!!
    </i>
  </p>
  <p>
    <strong>Parents</strong> - Want to upgrade your athlete's game? Find quality <a href={% url 'page_browsing' %}>coaches</a> and book a session with them today!
  </p>
  <p>
    <strong>Players and Coaches</strong> - Want to earn while making a difference? Become a Lab Coach yourself by submitting an <a href="{% url 'application' %}">application</a>!
  </p>
</center>

{% endblock %}
