{% extends "main/toolbar.html" %}
<!-- prettier ignore -->
{% block content %}
<title>{{ title }}</title>
<center>
  <h2 class="mt-4">Welcome to The Lab!!</h2>
  <p>
    <i>
      Where aspiring athletes can connect with successful players & coaches to LEVEL UP their game!!
  </p>
  <p>
    Find quality <a href={% url 'page_browsing' %}>coaches</a> to book a session, or explore upcoming developmental <a href={% url 'browse_events' %}>events</a> (like shooting/skills clinics or summer camps)!
  </p>
</center>

{% endblock %}
