{% extends "main/toolbar.html" %} {% block content %}
<title>{{ title }}</title>
<body>
  <div class="what-is-the-lab mt-4">
    <!-- Header Section -->
    <div class="text-center mb-4">
      <h3>
        <strong> Level up your game!</strong> The Lab connects aspiring athletes
        with top players and coaches who want to develop your skills and help
        you achieve your goals.
      </h3>
    </div>

    <!-- Introduction -->

    <blockquote class="text-muted">
      <!-- For Athletes -->
      <p>
        <strong>For Athletes (and Parents):</strong> Grow your (or your child's)
        skills by learning directly from experienced players and coaches. The
        Lab is here to help you reach the next level.
      </p>

      <!-- For Coaches -->
      <p>
        <strong>For Coaches:</strong> Empower the next generation by sharing
        your expertise. The Lab is your operating system to mentor aspiring
        athletes and make a lasting impact.
      </p>
    </blockquote>
    <center>
      <h4><strong class="border-bottom">Why The Lab?</strong></h4>
      <p>
        High-level athletes and coaches hold untapped value in their expertise
        and experience. From skill training to recruitment insights, they bring
        the knowledge and wisdom necessary to help youth athletes achieve their
        dreams.
      </p>
    </center>

    <div class="text-center mt-4 mb-4">
      <h5><i>Do You Want to Get in The Lab?</i></h5>
      <a class="btn btn-primary" href="{% url 'createprofile' %}"
        >Create Your Profile Today!</a
      >
    </div>
  </div>
</body>
{% endblock %}

<!-- with Drills -->
<p>
  <strong>For Athletes:</strong> Your all-in-one platform to level up your game!
  Connect with top players and coaches, develop your skills, and achieve your
  goals.
</p>
